/* FORM LAYOUT */
.form--cta {

  .form__lead-field {
    width: 100%;
    margin: 0 auto;
    max-width: 34rem;
    display: flex;
    flex-wrap: no-wrap;
    border-radius: 6px;
    background-color: $white;
    padding: 0.25rem;
    height: 3.5rem;
    box-shadow: 0px 3px 6px 0px rgba($theme-secondary,0.24);
    cursor: text;
    transition: box-shadow 0.2s ease;
    box-sizing: border-box;
    &:hover {
      box-shadow: 0px 6px 12px 0px rgba($theme-secondary,0.24);
    }
    @media screen and (min-width: 48em) {
     margin: 0;
    }

    input {
      margin: 0 auto;
      padding: 0 1rem;
      color: $theme-secondary;
      border: 0;
      min-width: 6rem;
      flex-grow: 2;
      outline: none;
      font-size: 1rem;
    }
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    @media screen and (min-width: 48em) {
     margin-left: 0.25rem;
    }
  }

  button.submit {
    flex-grow:1;
    min-width: 6rem;
  }
}

.button--download {
  width: 7.4em;
  height: 2.2em;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  text-indent: -1000em;
  overflow: hidden;
  margin: 0 0.5em;
  &.apple {
  background-image: url(https://www.snapchat.com/static/style-guide/download/apple.svg);
  }
  &.google {
  background-image: url(https://www.snapchat.com/static/style-guide/download/google.svg);
  }
}
