/* MODULE */
.module {
  padding: 4rem 0 6rem;
  overflow: hidden;
  &.module--small {
    padding: 3rem 0;
  }
  &.module--mini {
    padding: 1.5em 0;
  }
  &.bottom-padding {
    padding-bottom: 4rem;
  }
  &.border-full {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  @media screen and (min-width: 48em) {
   padding: 6rem 0;
    &.module--small {
      padding: 3rem 0;
    }
    &.bottom-padding {
      padding-bottom: 6rem;
    }
  }
  @media screen and (min-width: 64em) {
   padding: 8rem 0;
    &.module--small {
      padding: 4rem 0;
    }
    &.bottom-padding {
      padding-bottom: 8rem;
    }
  }

  .module__image {
    position: relative;
    margin-bottom: -50%;
    @media screen and (min-width: 48em) {
      padding-left: 2em;
      margin-right: -50%;
      margin-bottom: 0;
    }
    @media screen and (min-width: 64em) {
      margin-right: 0;
    }
    img {
      width: 100%;
    }
  }
  .reverse .module__image {
    position: relative;
    margin-right: 0;
    margin-left: -50%;
    @media screen and (min-width: 48em) {
      padding-right: 2em;
    }
    @media screen and (min-width: 64em) {
      margin-left: 0;
    }
  }
}

/* SPECIFIC MODULES */
// CTA
.module--cta, .block--cta {
  label {
    font-size: 1.777rem;
    font-weight: 700;
    margin-bottom: 0.5em;
    @media screen and (min-width: 48em) {
      font-size: 2.369rem;
    }
  }
  .form__lead-field {
    margin: 0 auto;
  }
  h5 {
    margin: 2em 0 1em;
    opacity: 0.9;
  }
}

// Customers
.module--logos {
  h4 {
    font-weight: 400;
    margin-top: 0;
  }

  .logo-svg {
    &.wide {
      width: 80px;
      height: 40px;
      @media screen and (min-width: 24em) {
        width: 120px;
        height: 60px;
      }
    }
    &.square {
      width: 40px;
      height: 40px;
      @media screen and (min-width: 24em) {
        width: 60px;
        height: 60px;
      }
    }
  }
}

hr.module__mini-border {
  width:70%;
  opacity:12%;
  margin: 0 auto;
  padding: 0;
  border-style: solid;
  border-width: 1px 0 0 0;
}
