html {
  font-size: $rem-size;
}

body {
  font-family: $body-font-family;
  background-color: $gray-0;
  color: $base-font-color;
}


p, a, li {
  font-size: $body-font-size;
  margin: 0 0 1.2em;
  line-height:1.5;
  font-weight: 400;
}
a {
  color: $theme-primary;
}

h1, h2, h3, h4, h5 {
  line-height:1.5;
  margin-bottom: 0.25em;
}
h1 {
  font-size: $h2-font-size;
  font-weight: 900;
  color: $theme-secondary;
  @media screen and (min-width: 48em) {
    font-size: $h1-font-size;
  }
}

h2 {
  font-size: $h3-font-size;
  font-weight: 700;
  color: $theme-secondary;
  @media screen and (min-width: 48em) {
    font-size: $h2-font-size;
  }
}

h3 {
  font-size: $body-font-size;
  font-weight: 700;
  @media screen and (min-width: 48em) {
    font-size: $h3-font-size;
  }
}
h4 {
  font-size: 1rem;
  font-weight: 700;
  @media screen and (min-width: 48em) {
    font-size: 1.333rem;
  }
}
h5 {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform:uppercase;
  @media screen and (min-width: 48em) {
    font-size: 1rem;
  }
}

.container {
  padding: 0 1rem;
}
.row {
  margin: 0;
}
