/* GENERAL THEME */
@mixin theme-fuchsia {
  background-color: $theme-primary;
  color: $white;
  border-color: darken($theme-primary,6%);
  h1, h2, a {
    color: $white;
  }
  a {
    text-decoration: underline;
  }
  .logo-svg {
    fill: rgba($white,0.54);
  }
  .muted {
    color: rgba($white,0.7);
  }
}
.theme-fuchsia {
  @include theme-fuchsia;
}

@mixin theme-grey {
  background-color: $gray-0;
  color: rgba($theme-secondary,0.8);
  border-color: darken($gray-0,12%);
  h1, h2, a {
    color: $theme-primary;
  }
  .logo-svg {
    fill: rgba($theme-secondary,0.54);
  }
  .muted {
    color: rgba($theme-secondary,0.54);
  }
}

.theme-grey {
  @include theme-grey;
}


@mixin theme-white {
  background-color: $white;
  color: rgba($theme-secondary,0.8);
  border-color: darken($white,12%);
  h1, h2, a {
    color: $theme-primary;
  }
  .logo-svg {
    fill: rgba($theme-secondary,0.54);
  }
  .muted {
    color: rgba($theme-secondary,0.54);
  }
}

.theme-white {
  @include theme-white;
}


 @mixin theme-none {
  background-color: transparent;
  color: rgba($theme-secondary,0.8);
  border-color: darken($white,12%);
  h1, h2, a {
    color: $theme-secondary;
  }
  .logo-svg {
    fill: rgba($theme-secondary,0.54);
  }
  .muted {
    color: rgba($theme-secondary,0.54);
  }
}

.theme-none {
  @include theme-none;
}
